<launch>
    <rosparam file="$(find onboard_detector_python)/cfg/detector_param.yaml" ns="/onboard_detector" />

    <node pkg="onboard_detector_python"
          type="detector_node.py"
          name="detector_node"
          output="screen" />

    <node pkg="onboard_detector_python"
          type="yolov11_detector_node.py"
          name="yolov11_detector_node"
          output="screen" />
</launch>
